*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
}
.logo img{ 
    display: block;
    height: auto;
    width: 100%;
    padding: 0 5px 5px;
}
.header{
    overflow: hidden;
    display: flex;
    background-color: rgb(144, 199, 199);
    justify-content: space-between;
    height: 75px;
    padding: 0 40px;
    margin: 0 0 10px;
}

.header > div {
    display: flex;
    flex-direction: row;

}
.menu{
    display: flex;
    margin: 0px 20px;
}
.category{
    display: flex;
}

.menu-item{
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
}

.search{
    display: flex;
}
.searchin{
    align-items: center;
}
.formSearch{
    position: relative;
    height: 100%;
}
.search input#search{
    width: 100%;
    height: 35px;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    color: #63717f;
    margin: 23px;
}
.search input#search:hover{

}

.search .icon{
    text-align: center;
    border-radius: 50%;
    font-size: 1.5em;
    position: absolute;
    z-index: 1;
    color: #4f5b66;
    top: 23px;
    right: -18px;
    width: 35px;
    height: 35px;
    padding: 2px;
}
.search .icon:hover{
    background-color: rgb(169, 220, 233);
    width: 35px;
    height: 35px;
    right: -20px;
}

.form-search input{
    border: 0;
}

.footer{
    background-color: rgb(201, 243, 241);
    padding: 10px 30px;
    
}
.footer a{
    text-decoration: none;
}
.icon-form a{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    background-color: rgb(187, 226, 250);
    border-radius: 30%;
}
.anhQC{
    width: 100%;
    height: auto;
    transform-style: preserve-3d;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
